---
title: "Jon Roobottom's CV"
layout: article.njk
---
{# markdown content #}
{% set intro %}
{% markdown %}
I’ve been using designing online experiences since my 56K dial-up modem was cutting-edge.

Nowadays, I work at the crossroads of creativity, design and technology. Most recently I’ve been designing services on GOV.UK.

Before that, I built and led a design team. I love working with others and drawing-out ideas through deliberate creativity techniques.

I’m also an adept front-end developer. I’m just at home building click-through prototypes as I am writing production code.
{% endmarkdown %}
{% endset %}

{% set role_hmrc %}
{% markdown %}
### Interaction Designer at HMRC (contract)

April 2019—Present, Durrington-on-sea {.date}

* Working alongside a researcher and content designer to design services on GOV.UK. 
* Creating service maps and blueprints. 
* Prototyping for testing using the GDS prototyping kit. 
* Design and facilitation of workshops. 
* Developing production front-end code.
{.bullets}
{% endmarkdown %}
{% endset %}

{% set role_onalytica %}
{% markdown %}
### Design consultant for Onalytica (contract)

December 2018—February 2019, London {.date}

* Working with Onalytica's senior leadership team to improve their product design process
* Presenting to C-suite on effective design and process
* Design and build of a front-end pattern library
{.bullets}

Read [case study](#).
{% endmarkdown %}
{% endset %}

{% set role_firefly_headofdesign %}
{% markdown %}
### Head of Design at Firefly Learning

September 2014—October 2018, London {.date}

* Grew Firefly's design team from 1 to 5
* Defining Firefly's research and design process
* Creation of a design system
* Designed and ran cross-team and stakeholder workshops
* Member of Firefly's SLT
{.bullets}

Read [case study](#)
{% endmarkdown %}
{% endset %}

{% set role_firefly_designer %}
{% markdown %}
### Product designer at Firefly Learning 

September 2011—September 2014, London {.date}

* Helped to grow Firefly from start-up to international company
* Designed and build of websites for schools
* Designed apps for iPhone and iPad
* Prototyped and built new features for Firefly on the web
* Conducted research with teachers and students 
{.bullets}
{% endmarkdown %}
{% endset %}

{% set role_history %}
{% markdown %}
### Older roles

* *2009—2011*, UX developer at Onalytica
* *2007-2008*, Freelance web designer
* *2006-2007*, UI designer at Glaxstar
* *2004-2007*, Web designer at Key Web and Marketing
{.bullets}
{% endmarkdown %}
{% endset %}

{% set skills %}
{% markdown %}
### Design

* Service design
* UX design
* UI design
* Prototyping
* Design systems 

### Leadership & creativity

* Workshop design & facilitation
* Design process planning
* Design thinking methodology
* Mentoring
* Stakeholder management

### Development

* HTML & CSS
* JavaScript
* Vue
* Node
* SASS & Less
* Git
{% endmarkdown %}
{% endset %}

{# render page #}
<header>
  <div class="grid">
    <p class="grid-full h4 margin-bottom-half">Jon Roobottom's CV</p>
    <h1 class="grid-full margin-bottom-double">UX designer with 16 years’ experience of creating digital services and websites.</h1>
    <div class="lead">
      {{ intro | safe }}
    </div>
  </div>
</header>

<main>
  <div class="grid">
    <nav aria-label="Navigate CV sections">
      <ul>
        <li><a href="#experience">Experience</a></li>
        <li><a href="#">Education</a></li>
        <li><a href="#">Skills</a></li>
        <li><a href="#">Contact me</a></li>
      </ul>
    </nav>

    <section class="timeline">
      <h2 id="experience" class="timeline-heading">Experience</h2>
      <div class="timeline-item">
        {{ role_hmrc | safe }}
      </div>
      <div class="timeline-item">
        {{ role_onalytica | safe }}
      </div>
      <div class="timeline-item">
        {{ role_firefly_headofdesign | safe }}
      </div> 
      <div class="timeline-item">
        {{ role_firefly_designer | safe }}
      </div>
      <div class="timeline-item">
        {{ role_history | safe }}
      </div> 
      <h2 id="education" class="timeline-heading">Education</h2>
      <div class="timeline-item">
        <p>2:1 BSc (HONS) Multimedia Technology from the University of Huddersfield in 2003</p>
      </div>
      <h2 id="skills" class="timeline-heading">Skills</h2>
      <div class="timeline-item">
        {{ skills | safe }}
      </div> 
    </section>

  </div>
</main>