---
title: "Jon Roobottom's CV"
layout: article.njk
---
{# markdown content #}
{% set intro %}
{% markdown %}
I've been designing engaging online experiences since my <span class="sc">28K</span> dial-up modem was a cutting-edge piece of kit. Nowadays, I work at the crossroads of creativity, design and technology. 

Most recently I've been designing services on <span class="sc">GOV.UK</span>. Before that, I built and led a design team. 

I'm also a skilled front-end developer. I'm at home building prototypes or writing production code.   
{% endmarkdown %}
{% endset %}

{% set role_hmrc %}
{% markdown %}
### Interaction Designer at HMRC (contract) {.margin-bottom-quarter}

April 2019—Present, Durrington-on-sea {.date}

* Working alongside a researcher and content designer to design services on GOV.UK. 
* Creating service maps and blueprints. 
* Prototyping for testing using the GDS prototyping kit. 
* Design and facilitation of workshops. 
* Developing production front-end code.
{.bullets}
{% endmarkdown %}
{% endset %}

{% set role_onalytica %}
{% markdown %}
### Design consultant for Onalytica (contract) {.margin-bottom-quarter}

December 2018—February 2019, London {.date}

Onalytica helps companies understand who is talking about them online. I worked with their senior leadership to help improve their design process.

* Undertook research to understand their users
* Worked with various teams to map their internal processes
* Advocated for process changes in a presentation to C-suite
* Helped implement an updated research and design process
* Designed and built a front-end pattern library
{.bullets}

Read [case study](https://roodesign.co.uk/case-studies/onalytica/).
{% endmarkdown %}
{% endset %}

{% set role_firefly_headofdesign %}
{% markdown %}
### Head of Design at Firefly Learning {.margin-bottom-quarter}

September 2014—October 2018, London {.date}

* Grew Firefly's design team from 1 to 5
* Defining Firefly's research and design process
* Creation of a design system
* Designed and ran cross-team and stakeholder workshops
* Member of Firefly's SLT
{.bullets}

Read [case study](https://roodesign.co.uk/case-studies/firefly/)
{% endmarkdown %}
{% endset %}

{% set role_firefly_designer %}
{% markdown %}
### Product designer at Firefly Learning {.margin-bottom-quarter} 

September 2011—September 2014, London {.date}

* Helped to grow Firefly from start-up to international company
* Designed and build of websites for schools
* Designed apps for iPhone and iPad
* Prototyped and built new features for Firefly on the web
* Conducted research with teachers and students 
{.bullets}
{% endmarkdown %}
{% endset %}

{% set role_history %}
{% markdown %}
### Older roles

* *2009—2011*, UX developer at Onalytica
* *2007-2008*, Freelance web designer
* *2006-2007*, UI designer at Glaxstar
* *2004-2007*, Web designer at Key Web and Marketing
{.bullets}
{% endmarkdown %}
{% endset %}

{% set skills %}
{% markdown %}
### Design

* Service design
* UX design
* UI design
* Prototyping
* Design systems 

### Leadership & creativity

* Workshop design & facilitation
* Design process planning
* Design thinking methodology
* Mentoring
* Stakeholder management

### Development

* HTML & CSS
* JavaScript
* Vue
* Node
* SASS & Less
* Git
{% endmarkdown %}
{% endset %}

{% set contact %}
{% markdown %}
* Location: Littlehampton (near Brighton)
* Phone: 07766 256899
* Email: [roo@roodesign.co.uk](mailto:roo@roodesign.co.uk)
* Website: [roodesign.co.uk](https://roodesign.co.uk)
{% endmarkdown %}
{% endset %}

{# render page #}
<header class="grid">
  <p class="grid-full h4 margin-bottom-half">Jon Roobottom's CV</p>
  <h1 class="grid-full margin-bottom-double">UX designer with 16 years’ experience of creating digital services and websites.</h1>
  <div class="lead">
    {{ intro | safe }}
  </div>
</header>

<main class="grid">
  <h2 id="experience" class="timeline-heading">Experience</h2>
  <section class="timeline">
    <article class="timeline-item">
      {{ role_hmrc | safe }}
    </article>
    <article class="timeline-item">
      {{ role_onalytica | safe }}
    </article>
    <article class="timeline-item">
      {{ role_firefly_headofdesign | safe }}
    </article> 
    <article class="timeline-item">
      {{ role_firefly_designer | safe }}
    </article>
    <article class="timeline-item">
      {{ role_history | safe }}
    </article> 
  </section>
  <h2 id="education" class="timeline-heading">Education</h2>
  <section class="timeline">
    <article class="timeline-item">
      <p>2:1 BSc (HONS) Multimedia Technology from the University of Huddersfield in 2003</p>
    </article>
  </section>
  <h2 id="skills" class="timeline-heading">Skills</h2>
  <section class="timeline">
    <article class="timeline-item">
      {{ skills | safe }}
    </article> 
  </section>
  <h2 id="contact" class="timeline-heading">Contact me</h2>
  <section class="timeline">
    <article class="timeline-item">
      {{ contact | safe }}
    </article> 
  </section>

</main>