---
layout: article.njk
title: "Jon Roobottom's CV/Resume"
---
<header>
  <h1><strong>Jon</strong> Roobottom</h1>
  <p class="lead">UX Designer with 16 years experience of creating digital services, products and websites.</p>
  <ul class="info">
    <li><a href="https://roodesign.co.uk">roodesign.co.uk</a></li>
    <li>07766 256899</li>
    <li><a href="mailto:roo@roodesign.co.uk">roo@roodesign.co.uk</a></li>
  </ul>
</header>

<aside>
{% markdown %}
## Eduction

2:1 BSc Multimedia Technology from the University of Huddersfield in 2003

## Skills

### Design

* Service design
* UX design
* UI design
* Prototyping
* Design systems 

### Leadership & creativity

* Workshop design & facilitation
* Design process planning
* Design thinking methodology
* Mentoring
* Stakeholder management

### Development

* HTML & CSS
* JavaScript
* Vue
* Node
* SASS & Less
* Git
{% endmarkdown %}
</aside>

<main>
<h2>Experience</h2>

<div class="job">
  {% markdown %}
  ### Interaction Designer at HMRC (contract)

  April 2019—Present, Durrington-on-sea

  I worked as part of a government digital team on GOV.UK tax services.

  #### Highlights

  * I designed a new service for tracking VAT repayments
  * I created service maps and blueprints
  * I designed and ran creative idea workshops
  * I prototyped services using the government prototyping kit
  * I developed production code for services on gov.uk
  {% endmarkdown %}
</div>

<div class="job">
  {% markdown %}
  ### Design consultant for Onalytica (contract)

  December 2018—February 2019, London

  I worked with Onalytica's senior leadership team to improve their product design process. 

  #### Highlights

  * I helped Onalytica's design, product and development teams work more effectively together
  * I gave a presentation on design process and effectiveness to the C-suite
  * I built a front-end pattern library

  I wrote [a case study about my time with Onalytica](#).

  {% endmarkdown %}
</div>

<div class="job">
  {% markdown %}
  ### Head of Design at Firefly Learning

  September 2014—October 2018, London

  I grew Firefly's design team and redefined how design was done. 

  #### Highlights

  * I grew Firefly's design team from 1 (me) to 5
  * I defined Firefly's research and design process
  * I created Firefly's design system
  * I designed and ran cross-team and stakeholder workshops
  * I helped lead the whole company as part of Firefly's SLT

  You can read a [case study about leading design at Firefly](https://roodesign.co.uk/case-studies/firefly/).

  {% endmarkdown %}
</div>

<div class="job">
  {% markdown %}
  ### Product designer at Firefly Learning

  September 2011—September 2014, London

  I helped Firefly grow from a start-up to an international company. We went from a handful of UK to 100's of schools worldwide. 

  #### Highlights

  * Designed and built websites for schools
  * Designed apps for iPhone and iPad
  * Prototyped and built new features for Firefly on the web
  * Conducted research with teachers and students 
  * Gave presentations to school staff 
  {% endmarkdown %}
</div>

<div class="job">
  {% markdown %}
  ### Older roles

  Here's a summary of the rest of my career:

  * *2009—2011*, UX/front-end developer at Onalytica
  * *2007-2008*, Freelance web designer
  * *2006-2007*, UI designer at Glaxstar
  * *2004-2007*, Web designer at Key Web and Marketing
  {% endmarkdown %}
</div>
</main>

<aside>

</aside>
