@font-face {
    font-family: 'YoungSerif';
    src: url('#{$font-path}YoungSerif.woff2') format('woff2');
}

@font-face {
    font-family: 'Orkney';
    src: url('#{$font-path}Orkney Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Orkney';
    src: url('#{$font-path}Orkney Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Orkney';
    src: url('#{$font-path}Orkney Regular Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Orkney';
    src: url('#{$font-path}Orkney Bold Italic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Code';
    src: url('#{$font-path}FiraCode.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'Orkney';
}