.timeline {

  .break-mid({
    border-left: 6px solid @c_yellow;
  });

  &-item {
    .break-mid({
      margin: 0 0 @gap-rem * 4 @gap-rem * 2;
      padding: @gap-rem * 2;
      background-color: white;
      box-shadow: 0 0 30px 0 rgba(0,0,0,0.10);
      position: relative;
      >*:last-child {
        margin-bottom: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
      &:before,
      &:after {
        content: "";
        position: absolute;
        top: @gap-rem;
        left: @gap-rem;
        z-index: -1;
        width: 100%;
        height: 100%;
      }
      &:before {
        background-color: @c_yellow;
      }
      &:after {
        background: url('/assets/images/pattern-zigzags.png') top left repeat;
        opacity: .2;
        mix-blend-mode: overlay;
      }
    });
    .break-max({
      &:before,
      &:after {
        top: @gap-rem * 2;
        left: @gap-rem * 2;
      }
    });
  }
}