.grid {
    
    .break-max({
      display: grid;
      grid-column-gap: @gap-rem * 3;
      justify-content: center;
      align-content: start;
      grid-template-columns: repeat(3, minmax(0, 18rem));
      grid-template-areas:
        "alpha beta gamma"
    });

    &-two-thirds-start,
    >* { //default layout
      grid-column: alpha / beta
    }
    &-full {
      grid-column: alpha / gamma;
    }
    &-one-third-end {
      grid-column: gamma;
    }
    &-reverse {
      grid-row: 1;
    }

  }


header, main {
  padding: @gap-rem * 2;
}


.flex {
  display: flex;
  >nav {
    order: 1;
  }
}