.container {

  max-width: 54rem;
  margin: 0 auto;
  
  display: grid;
  grid-template-areas: 
    "header"
    "sidebar"
    "content";
  grid-column-gap: @gap-rem * 3;
  
  .break-min({
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      ".... header header"
      "sidebar content content"
  });

  
  .header {
    grid-column: header;
  }

  >* {
    grid-column: content;
  }
  h3 {
    grid-column: sidebar;
  }
  .break-min({
    >h3 {
      text-align: right;
    }
  });

  .boxouts,
  hr.full {
    grid-column: sidebar / content;
  }


}

.boxouts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-column-gap: @gap-rem;
  margin: (@gap-rem * 3) 0;
}
