.grid {
    
    .break-max({
      display: grid;
      grid-column-gap: @gap-rem * 3;
      justify-content: center;
      align-content: start;
      grid-template-columns: repeat(3, minmax(0, 18rem));
      grid-template-areas:
        "alpha beta gamma"
    });

    &-two-thirds-start,
    >* { //default layout
      grid-column: alpha / beta
    }
    &-full {
      grid-column: alpha / gamma;
    }
    &-one-third-end {
      grid-column: gamma;
    }
    &-reverse {
      grid-row: 1;
    }

  }


header, main {
  padding: @gap-rem * 2;
}

header {
  
  .break-mid({
    min-height: calc(100vh - (@gap-rem * 4));
  });
  
  position: relative;

  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &:before {
    background-color: @c_yellow;
  }
  
  &:after {
    background: url('/assets/images/pattern-zigzags.png') top left repeat;
    opacity: .2;
    mix-blend-mode: overlay;
  }

  p:last-child {
    margin-bottom: 0;
  }
  
}

.flex {
  display: flex;
  >nav {
    order: 1;
  }
}