@import '_reset';
@import '_settings';
@import '_typography';
@import '_components';

//pdf layout
.container {
  
}

header, main {
  width: 12cm;
  margin-left: auto;
}

aside {
  width: 6cm;
  position: absolute;
}

.pdf(@rule) {
  @rule();
};

@page {
  size: A4;
  margin: 1cm;
  padding: 0;
}

